@define-color foreground #c8cccd;
@define-color background #253337;
@define-color cursor #c8cccd;

@define-color color0 #253337;
@define-color color1 #3F858E;
@define-color color2 #498A92;
@define-color color3 #6F9499;
@define-color color4 #6B9FA4;
@define-color color5 #989A9A;
@define-color color6 #94A7AA;
@define-color color7 #c8cccd;
@define-color color8 #6b7c82;
@define-color color9 #3F858E;
@define-color color10 #498A92;
@define-color color11 #6F9499;
@define-color color12 #6B9FA4;
@define-color color13 #989A9A;
@define-color color14 #94A7AA;
@define-color color15 #c8cccd;
